@page
@model AdventureWorksWeb.Pages.indexModel
@{
    ViewData["Title"] = "Pagina Inicio";
}

 <div class="jumbotron">
            <h1 class="display-3">Welcome to Adventure Works</h1>
            <p class="lead">Venta de Productos</p>
            <hr />
            <p>Hola Mundo</p>
            <p>
                <a class="btn btn-primary" href="clientes">Clientes</a>
            </p>
        </div>
